@{
    ViewBag.Title = "Annoucement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <!-- Top Navigation -->
    <div class="banner banner5">
        <div class="container">
            <h2>Thông báo</h2>
        </div>
    </div>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../Content/AdminLTE.css" rel="stylesheet" type="text/css" />
    <style>
        .form-box-annouce {
            width: 480px;
            margin: 90px auto 0 auto;
        }
    </style>
</head>
<body class="bg-black">
    <div class="form-box-annouce" id="login-box">
        <h1>Đã hết thời gian làm bài.</h1>
    </div>
        <br /><br /><br /><br /><br />
</body>
</html>