@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <!-- Top Navigation -->
    <div class="banner banner5">
        <div class="container">
            <h2>Liên hệ</h2>
        </div>
    </div>
}

<html>
<head>
    <title>Thông tin liên hệ</title>

    <link href="../Content/AdminLTE.css" rel="stylesheet" type="text/css" />
</head>
<body class="bg-black">

    <div style="text-align: center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-9153409599391170"
             data-ad-slot="6850850687"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!-- contact -->
    <div class="contact">
        <!-- container -->
        <div class="container">
            <div class="contact-info">
                <h3 class="c-text">Bản đồ</h3>
            </div>
            <div class="map">
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=10.803852%2C%20106.719731&key=AIzaSyAuJzO4-Aegxoq1PG9O8hswxc4H0pgfdHI"></iframe>
            </div>
            <!---728x90
                10.803852, 106.719731
                --->
            <div style="text-align: center;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-9153409599391170"
                     data-ad-slot="6850850687"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="contact-grids">
                <div class="col-md-4 contact-grid-left">
                    <h3>Địa chỉ :</h3>
                    <p>
                        Đường D1
                        <span> Quận bình Thạnh</span>
                        Thành phố Hồ Chí Minh
                    </p>
                </div>
                <div class="col-md-4 contact-grid-middle">
                    <h3>Điện thoại :</h3>
                    <ul>
                        <li>+841692913062</li>
                    </ul>
                </div>
                <div class="col-md-4 contact-grid-right">
                    <h3>E-mail :</h3>
                    <a href="mailto:tuila_son@yahoo.com">tuila_son@yahoo.com</a>
                </div>
                <div class="clearfix"> </div>
                <div class="contact-info cf-1">
                    <div class="contact-info-text">
                        <h3>Thông tin phản hồi :</h3>
                        <p>
                            Nếu có bất kì vấn đề gì chưa hài lòng với website, xin vui lòng gửi phản hồi, đóng góp, ý kiến tới chúng tôi. Chúng tôi rất cảm ơn và trân trọng phản hồi của bạn.
                        </p>
                    </div>
                    <div class="contact-info-grids">
                        <form>
                            <input type="text" placeholder="Tên" required="">
                            <input type="text" placeholder="Địa chỉ email" required="">
                            <input type="text" placeholder="Tiêu đề" required="">
                            <textarea placeholder="Phản hồi..." required=""></textarea>
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //contact -->
    <!---728x90--->
    <div style="text-align: center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-9153409599391170"
             data-ad-slot="6850850687"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!--footer-->
</body>
</html>