@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <!-- Top Navigation -->
    <div class="banner banner5">
        <div class="container">
            <h2>Thông tin về chúng tôi</h2>
        </div>
    </div>
    }

    <html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="about">
        <div class="container">
            <div class="about-info-grids">
                <div class="col-md-5 abt-pic">
                    <img src="../Content/images/abt.jpg" class="img-responsive" alt="" />

                </div>
                <div class="col-md-7 abt-info-pic">
                    <h3>Vestibulum congue neque quis ex fringilla, in pellentesque massa gravida.</h3>
                    <p>
                        Mauris tempus lorem nec ex facilisis suscipit. Phasellus pretium rutrum augue, eu rutrum
                        lacus lobortis rutrum. Etiam a sem et velit sollicitudin placerat. Maecenas tincidunt
                        justo ligula, sit amet maximus dolor iaculis quis. Sed laoreet cursus posuere.
                        Pellentesque commodo odio in luctus interdum.
                    </p>
                    <ul>
                        <li>Proin et ligula ut nulla laoreet posuere.</li>
                        <li>Sed vestibulum magna vel egestas feugiat.</li>
                        <li>Curabitur nec erat eu lorem gravida aliquet.</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="testimonals">
                <h3>Các đánh giá</h3>
                <div class="testimonal-grids">
                    <div class="col-md-5 testimonal-grid">
                        <div class="testi-info">
                            <p>"..Mauris congue, dolor at vehicula scelerisque, enim odio vehicula turpis, vitae luctus dolor nisi eget est. Aliquam maximus felis eget varius mattis. Quisque tristique nibh imperdiet dignissim molestie."</p>
                            <h4>Mark Johnson</h4>
                            <a href="mailto:example@gmail.com">http://www.example.com</a>
                        </div>
                    </div>
                    <div class="col-md-5 testimonal-grid">
                        <div class="testi-info">
                            <p>"..Mauris congue, dolor at vehicula scelerisque, enim odio vehicula turpis, vitae luctus dolor nisi eget est. Aliquam maximus felis eget varius mattis. Quisque tristique nibh imperdiet dignissim molestie."</p>
                            <h4>Williams Deo</h4>
                            <a href="mailto:example@gmail.com">http://www.example.com</a>
                        </div>
                    </div>
                    @*<div class="col-md-4 testimonal-grid">
                        <div class="testi-info">
                            <p>"..Mauris congue, dolor at vehicula scelerisque, enim odio vehicula turpis, vitae luctus dolor nisi eget est. Aliquam maximus felis eget varius mattis. Quisque tristique nibh imperdiet dignissim molestie."</p>
                            <h4>Mark Johnson</h4>
                            <a href="mailto:example@gmail.com">http://www.example.com</a>
                        </div>
                    </div>*@
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="team">
                <h3>Đội ngũ nhân viên</h3>
                <div class="grid-4">
                    <div class="team-grid">
                        <img src="../Content/images/abt1.jpg" alt="">
                        <h4>Kĩ thuật.</h4>
                        <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="grid-4">
                    <div class="team-grid">
                        <img src="../Content/images/abt2.jpg" alt="">
                        <h4>Cố vấn.</h4>
                        <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="grid-4 span66">
                    <div class="team-grid">
                        <img src="../Content/images/abt3.jpg" alt="">
                        <h4>Truyền thông.</h4>
                        <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="grid-4">
                    <div class="team-grid">
                        <img src="../Content/images/abt4.jpg" alt="">
                        <h4>Quản lý.</h4>
                        <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
            </div>
    </body>
    </html>
