@{
    ViewBag.Title = "Annoucement";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <h1>
       Thông báo
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Thông báo</li>
    </ol>
}

<h3>Đã xảy ra lỗi khi thực hiện tác vụ.</h3>
